* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: black;
    color: white;
    text-align: center;
    width:150% ;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}

.head{
   
   font-size: 250%;
    font-weight: bolder;


}
.row{
    width: 90%;
    margin-left: 5%;
   
}
.p {
    color: blue;
}
.card-type{
    background-color: rgb(71, 71, 71);
   margin-left: 10%;
   width: 90%;
   height: 30vh;

}
